@{
    Layout = "_Layout2";
}
<body class="full-height">
    <div class="login-register-bg" style="background-image: url('~/images/login-register-bg.jpg');"></div>
    <div class="login-register-card">
        <h2 class="card-header">فراموشی رمز عبور</h2>
        <div>
            <form asp-area="Identity" asp-controller="Account" asp-action="ForgetPassword" method="POST">
                <input type="text" placeholder="ایمیل" name="email" class="single-form-input">
                <span class="error-message"></span>
                <button type="submit" class="btn btn-login full-width">ارسال ایمیل</button>
            </form>
            <a asp-area="User" asp-controller="Home" asp-action="List" class="btn btn-home full-width" style="margin-top: 10px;">صفحه اصلی</a>
        </div>
    </div>

    <!-- Start Scripts -->
    <script src="~/jquery/jquery-3.6.0.js"></script>
    <!-- End Scripts -->
</body>