@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pajoohesh</title>

    <!-- Start Css -->
    <link href="~/css/css/materialdesignicons.css" rel="stylesheet" />
    <link href="~/css/css/style.css" rel="stylesheet" />
    <!-- End Css -->
</head>

<body class="full-height not-found-body">
    <div class="not-found-content">
        <h1 class="primary-header">404</h1>
        <h2 class="secondary-header">صفحه مورد نظر یافت نشد.</h2>
        <span class="not-found-info">
            آدرس صفحه ای که دنبال آن هستید یافت نشد. در صورت تمایل می توانید از طریق <a asp-area="User" asp-controller="Home" asp-action="List" class="not-found-link">
                این
                لینک
            </a> به صفحه اصلی بازگردید.
        </span>
        <span class="not-found-info margin-bottom-0">
            همچنین می توانید از طریق <a asp-area="User" asp-controller="Contact" asp-action="Add" class="not-found-link">
                این
                لینک
            </a> با توسعه دهنده ارتباط برقرار کنید.
        </span>
    </div>

    <!-- Start Scripts -->
    <script src="jquery/jquery-3.6.0.min.js"></script>
    <!-- End Scripts -->
</body>

</html>
