@model Pajoohesh_V2.Model.ViewModels.Branch.ForSite.ForRepository.Films.FilmDeleteVm

<div class="content">
    <h2 class="content-header">حذف فیلم</h2>
    <div class="delete-content">
        <img src="~/images/sample-image-1.jpg" alt="نام فیلم" title="نام فیلم" class="delete-content-image" />
        <span class="delete-content-title">عنوان فیلم</span>
        <span class="delete-content-description">توضیحات فیلم</span>
        <span class="delete-content-warning">آیا از حدف این فیلم مطمئن هستید؟</span>
    </div>
    <form action="#" method="POST" class="profile-form">
        <button type="submit" class="btn btn-load-more">حذف</button>
    </form>
</div>