@model Pajoohesh_V2.Model.ViewModels.Branch.ForSite.ForRepository.Subjects.SubjectEditVm

<div class="content">
    <h2 class="content-header">ویرایش موضوع</h2>
    <form action="#" method="POST" class="profile-form" enctype="multipart/form-data">
        <input type="hidden" asp-for="OriginalCreateDate" />
        <input type="hidden" asp-for="CreatorId" />
        <input type="hidden" asp-for="ImageUrl" />
        <div class="form-group">
            <label for="" class="form-label">عنوان موضوع:</label>
            <input type="text" class="form-input" asp-for="Title">
        </div>
        <div class="form-group">
            <label for="" class="form-label">وضعیت:</label>
            <select class="form-input form-input-select" asp-for="State">
                <option value="1">فعال</option>
                <option value="0">غیر فعال</option>
            </select>
        </div>
        <div class="form-group" style="display: block; width: 100%;">
            <label for="image" class="form-label">عکس:</label>
            <div class="form-file">
                <label for="NewImageUrl" class="form-file-label">انتخاب فایل</label>
                <input type="file" class="form-file-input" id="NewImageUrl" asp-for="NewImageUrl" accept="image/png, image/jpeg, image/jpg">
                <span class="form-file-name">...</span>
            </div>
        </div>
        <button type="submit" class="btn btn-load-more">ذخیره</button>
    </form>
</div>