@model Pajoohesh_V2.Model.ViewModels.Branch.ForSite.ForRepository.ContactUs.ContactUsReplyVm

<div class="content">
    <h2 class="content-header">فرم پاسخ به تماس</h2>
    <div class="contact-card">
        <span class="contact-card-title">@Model.Subject</span>
        <span class="splitter"></span>
        <span class="contact-card-message">@Model.Text</span>
        <span class="splitter"></span>
        <span class="contact-card-owner">ارسال شده توسط: @($"{Model.SenderName} {Model.SenderFamily}") در تاریخ @Model.SendDate</span>
    </div>
    <form asp-area="User" asp-controller="Contact" asp-action="Reply" method="POST" class="profile-form reply-form">
        <input type="hidden" asp-for="Id" />
        <div class="form-group full-width">
            <label for="" class="form-label">عنوان:</label>
            <input type="text" class="form-input" asp-for="ReplySubject">
        </div>
        <div class="form-group full-width">
            <label for="" class="form-label">متن پیام:</label>
            <textarea class="form-input" asp-for="ReplyText"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-load-more">ارسال</button>
        </div>
        <div class="form-group">
            <a asp-area="User" asp-controller="Contact" asp-action="List" class="btn btn-load-more">بازگشت به لیست</a>
        </div>
    </form>
</div>