@model Pajoohesh_V2.Model.ViewModels.Branch.ForSite.ForRepository.Users.UserAddVm
@{
    Layout = "_Layout2";
}
<body class="full-height" style="height: 140vh;">
    <div class="login-register-bg" style="background-image: url('/images/login-register-bg.jpg');"></div>
    <div class="login-register-card">
        <h2 class="card-header">ثبت کاربر جدید</h2>
        <div>
            <form asp-area="Admin" asp-controller="User" asp-action="Add" method="POST" enctype="multipart/form-data">
                <input type="text" placeholder="نام" id="signup-name" asp-for="Name" class="single-form-input">
                <input type="text" placeholder="نام خانوادگی" id="signup-family" asp-for="Family" class="single-form-input">
                <input type="text" placeholder="نام کاربری" id="signup-user-name" asp-for="UserName" class="single-form-input">
                <input type="text" asp-for="Email" placeholder="ایمیل" class="single-form-input">
                <input type="password" asp-for="Password" placeholder="کلمه عبور" class="single-form-input">
                <input type="password" asp-for="ConfirmPassword" placeholder="تکرار کلمه عبور" class="single-form-input">
                <div class="form-group full-width" style="padding: 0; margin-bottom: 10px;">
                    <div class="form-file">
                        <label for="image-url" class="form-file-label">انتخاب فایل</label>
                        <input type="file" class="form-file-input" id="image-url" asp-for="ImageUrl" accept="image/png, image/jpeg, image/jpg">
                        <span class="form-file-name">عکس</span>
                    </div>
                </div>
                <div class="remember-me-wrap">
                    <input type="checkbox" id="Subscribe-me-to-the-newsletter" name="SubscribeMeToTheNewsletter" class="form-checkbox-input" value="yes" />
                    <label for="Subscribe-me-to-the-newsletter" class="form-checkbox-label">عضویت در خبرنامه (این گزینه نیازمند تایید ایمیل کاربر می باشد)!</label>
                </div>
                <button type="submit" class="btn btn-login full-width">ثبت نام</button>
            </form>
            <span class="splitter"></span>
            <span class="another-login-register-way">یا</span>
            <ul class="another-ways-list">
                <li class="another-way-item">
                    <a href="#" class="another-way-link mdi mdi-google"></a>
                </li>
            </ul>
            <a href="#" class="btn btn-switch-login-register full-width">
                <span class="primary-text">حساب کاربری دارید؟</span>
                <span class="secondary-text">ورود به سایت</span>
            </a>
            <a href="#" class="btn btn-home full-width">صفحه اصلی</a>
        </div>
    </div>

    @section Scripts
    {
        <!-- Start Scripts -->
        <script src="~/jquery/jquery-3.6.0.js"></script>
        <!-- End Scripts -->
        @*<script src="~/js/js/SignUpJs.js"></script>*@
    }
</body>